*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
}

img{
    height: 99vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}