*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

img{
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.all__container{
    display: flex;
    flex-direction: column;
    
}

form{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;

}
.number__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.largeuwu__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number__container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mmyy__container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.exp__container, .cvc__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Space Grotesk", sans-serif;
    background-color: #21092f;
    color: white;
}

input{
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #dedddf; 
}

input::placeholder{
    color: #bfbfbf;
    font-size: 16px;
}

#number1, #number2{
    width: 38%;
}